* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
  background: url('./../images/court.jpg') repeat-y;
  background-size: cover;
}

.container {
  max-width: 80%;
}

.modalDialog {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background: rgba(0,0,0,0.7);
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 500px;
  padding: 5px 20px 25px 20px;
  margin: 10% auto;
  position: relative;
  border-radius: 10px;
  background: #fff;
}

.close {
  width: 24px;
  line-height: 25px;
  position: relative;
  right: -10px;
  text-align: center;
  border-radius: 12px;
}

.close:hover { 
  background: #f0ad4e; 
}

/* EM styles */
.eventCard  {
  margin: 5px;
  background-color: #ededed;
  border: 1px solid black;
  border-radius: 10px;
}

.innerEventCard {
  padding: 5px 10px;
}

.btnPadding {
  margin-left: 5px;
}

p.message {
  margin-bottom: 15px;
}

p.detailsSubheader {
  font-weight: bold;
}

#selectFilter {
  margin-left: 15px;
}

.playerCard {
  background-color: #fff;
  border: 1px solid black;
  margin: 0 5px;
  padding: 3px;
}

.playersHeader {
  background-color: #e4e4e4;
  border: 1px solid navy;
  margin: 10px 0;
  padding: 5px;
}

.eventdetails {
  margin-top: 25px;
}
.eventdetail-left {
  background-color: #fff;
  margin: 5px;
  margin-right: 50px;
  /* border: 1px solid black; */
  border-radius: 10px;
}

.btnPadding {
  margin-left: 5px;
}

p.message {
  margin-bottom: 15px;
}

p.detailsSubheader {
  font-weight: bold;
}

#selectFilter {
  margin-left: 15px;
}

.playerCard {
  background-color: #fff;
  border: 1px solid black;
  margin: 0 5px;
  padding: 3px;
}

#eventdetailsbg {
  color: black;
  background: rgba(0,0,0,0.4);
  padding: 50px;
  border-radius: 35px;
}
/* End of EM styles */

.nav-bar-div {
  margin-bottom: 100px;
  /* margin-right: 50px; */
}

#nav-bar {
  background: rgba(92,184,92,0.6);
  /* background: rgba(255,140,0,0.6); */
}

#nav-bar-text {
  font-size: 35px;
  margin-left: 35px;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-top: 10px;
}

#home {
  color: white;
  background: rgba(0,0,0,0.4);
  padding: 50px;
  border-radius: 35px;
}

.forms {
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 20px 40px 50px 50px;
  border-radius: 35px;
}

.logo {
  width: 55px;
  padding: 1px;
  margin-left: 50px;
}

.welcome {
  margin-bottom: 50px;
  color: white;
  padding: 30px 50px 50px 50px;
  border-radius: 35px;
}

.welcome-user {
  margin-top: 50px;
  background: rgba(255,140,0,0.5);
  text-align: center;
}

.welcome-find-event {
  background: rgba(0,0,0,0.5);

}

.welcome-create-event {
  background: rgba(0,0,0,0.5);
}